body{
    background-color: aquamarine;
    color:rgb(149, 243, 56);
    font-family: "Dancing Script", cursive;  
}
reader{
    font-size: 100px;
    border: double 5px black;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}